<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 " style="position: fixed !important;">
    <!-- Brand Logo -->
    <a class="brand-link">
      <img src="assets/logo_ag2.png" alt="RMS Logo" class="image-responsive img-circle elevation-1" style="margin-left: -13px">
      <span class="brand-text font-weight-light" style="color: white;">Agriculteur App</span>
    </a>
  
    <!-- Sidebar -->
    <div class="sidebar">
  
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info" style="margin-left:55px" >
          <span class="brand-text font-weight-light" style="color: white;">Nour  Guerfali</span>
          <a  class="d-block" style="margin-left:40px;" ></a>
        </div>
      </div>
  
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  
         <!-- Partie Dashboard lel Admin -->
          <li  class="nav-item">
            <a routerLink="bon/listeBon" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Bons
              </p>
            </a>
          </li>
  
          <!-- Partie Profil lel Les employee lkol -->
          <li class="nav-item">
            <a routerLink="fournisseur/listeFournisseur" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-user-alt"></i>
              <p>
                Fournisseurs
              </p>
            </a>
          </li>
  
          <!-- Partie Employees List lel Admin khw -->
          <li class="nav-item">
            <a  routerLink="operation" class="nav-link ">
              <i class="nav-icon fas fa-users"></i>
              <p>Operations</p>
            </a>
          </li>
          <!-- Partie Job Offers lel Admin w recruteur -->
          <li class="nav-item">
            <a routerLink="produit/listeProduit" class="nav-link ">
              <i class="nav-icon fas fa-briefcase"></i>
              <p>Produits</p>
            </a>
          </li>
          <!-- Partie Condidates List lel Recruteur wel admin -->
          <li class="nav-item">
            <a routerLink="tank/listeTank" class="nav-link ">
              <i class="nav-icon fas fa-user-friends"></i>
              <p>Liste des tanks</p>
            </a>
          </li>
          <!-- Partie Interviews List lel Interviewr wel admin -->
          <li class="nav-item">
            <a routerLink="vache" class="nav-link ">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>Liste des vaches</p>
            </a>
          </li>
          <!-- Partie Questions List lel Interviewr wel admin -->
          <li class="nav-item">
            <a routerLink="interviewer/questionList" class="nav-link">
              <i class="nav-icon fas fa-clipboard-list"></i>
              <p> Questions List</p>
            </a>
          </li>
  
          <!-- Partie Interview Quiz lel Interviewr wel admin -->
          <li  class="nav-item">
            <a routerLink="interviewer/quiz" class="nav-link">
              <i class="nav-icon fa fa-file-video-o"></i>
              <p> Interview Quiz </p>
            </a>
          </li>
  
          <!-- Partie Quiz rules lel Interviewr khw -->
          <li  class="nav-item">
            <a routerLink="interviewer/quizrules" class="nav-link">
              <i class="nav-icon fa fa-exclamation-triangle"></i>
              <p> Quiz rules </p>
            </a>
          </li>
          <!-- Partie Forms lel Les employee lkol -->
          <li class="nav-item has-treeview">
            <a class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Forms
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
          </li>
  
          <li class="nav-header">Schedule</li>
          <!-- Partie Calendar lel Les employee lkol -->
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Calendar
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <!-- Partie Mailbox lel Les Admin khw -->
          <li class="nav-item">
            <a routerLink="admin/mailbox" class="nav-link">
              <p>
                <i class="nav-icon far fa-envelope"></i>
                Mailbox
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  
  
  