<!-- <div class="ContenuCard"  >
  <div class="modal-header">
      <h1 id="modal-title"><b>Details pour le bon numero : {{idB}} </b></h1>
<div>
  <button type="button" style="margin-left:230px ;size:450px;" (click)="closeDetails()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div><br>
  
</div>
<br>
<div *ngIf="bon">

<div class="form-group text-center">
  <label>Quantite :</label> 
  <span id="interviewDate">  {{bon.quantite}} </span>
</div>

<div class="form-group text-center">
  <label>Type :</label> {{bon.type}}
</div>
<div class="form-group text-center">
  <label>Date :</label> {{bon.date}}
</div>
<div class="form-group text-center" >
  <label>Prix : </label> {{bon.prix}}
</div>
<div class="form-group text-center" >
  <label>Produit : </label> {{bon.produit.intitule}}
</div>

<div class="form-group text-center" >
  <label>Nom de l'agriculteur : </label> {{bon.agriculteur.nom}}
</div>

<div class="form-group text-center" >
  <label>Nom du fournisseur : </label> {{bon.fournisseur.nom}}
</div>

</div>			
<div style="text-align: center;">
  <button (click)="closeDetails()" class="btn btn-success">Close Details</button>
</div>
</div>
 -->






<div class="wrapper" *ngIf="bon">
  <div class="card text-white">
      <div class="bg-pink"></div>
      <div class="img-container d-flex align-items-center justify-content-center"><h5>Consulter le bon numéro</h5> </div>
      <div class="user">
          <div class="h5 text-center m-0"> {{idB}} </div>
      </div>
      <div class="px-3">
          <div class="d-flex align-items-center justify-content-between py-3 pe-none">
              <div class="details snippets">
              </div>
              <div class="details post">
              </div>
          </div>
          <div class="skills">
              <div class=" head text-uppercase"><h5>Autre Informations :</h5></div>
              <div class=" pb-5 pt-3">
                <div class="text fs-08" *ngIf="bon.type=='Entree'">
                  <span style="margin-left:20px;">C'est un bon d'entree</span>
                </div>

                <div class="text fs-08" *ngIf="bon.type=='Sortie'">
                  <span style="margin-left:20px;">C'est un bon de sortie</span>
                </div>

                <div class="text-uppercase fs-08">
                  <span id="titre"> Date du bon : </span>
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bon.date}}</span>
                </div>

                <div class="text-uppercase fs-08" *ngIf="bon.type=='Entree'">
                  <span id="titre"> Prix (dt) : </span>
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<span id="titre">{{bon.prix}} dt</span></span>
                </div>

                <div class="text-uppercase fs-08" *ngIf="bon.type=='Entree'">
                  <span id="titre"> Quantite inserée : </span>
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="titre">{{bon.quantite}}  Kg</span></span>
                </div>

                <div class="text-uppercase fs-08" *ngIf="bon.type=='Sortie'">
                  <span id="titre"> Quantite retirée : </span>
                  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="titre">{{bon.quantite}}  Kg</span></span>
                </div>
                  <!-- <div class="text-uppercase fs-08">
                    <span id="titre"> Type (Entree/Sortie) :</span>
                    <span id="titre">{{bon.type}}</span>
                  </div> -->

                  <div class="text-uppercase fs-08"  *ngIf="bon.type=='Entree'">
                    <span id="titre">Nom du fournisseur : </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;{{bon.fournisseur.nom}}</span>
                  </div>

                  <div class="text-uppercase fs-08">
                    <span id="titre">Intitulé produit : </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bon.produit.intitule}}</span>
                  </div>

                  <div class="text-uppercase fs-08">
                    <span id="titre">Quantité produit : </span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{bon.produit.qte}} Kg</span>
                  </div>
               
                  
              </div>
          </div>

          <div class="details project">
            <div class="head text-uppercase">
              <button id="btn" (click)="closeDetails()"  style="margin-left:115px;" class="btn btn ml-135  btn-rounded waves-effect w-md waves-light">
                Fermer les détails
              </button>
            </div>
        </div>


      </div>
  </div>
</div>