
.pagination ul {
    text-align:center;
    }
   
.pagination ul li {
 display: inline-block;
 Background-color:white;

}

.pagination ul li a {
 color: black;
 float: left;
 padding: 8px 16px;
 text-decoration: none;
}
main .search-wrapper{
   width:650px;
   text-align:center;
   align-items: center;
   
    float:center;
     display: flex;
}

.search-wrapper span {
   display: inline-block;
   padding: 0rem 1rem;
   font-size: 1.5rem;
}

.search-wrapper input {
   height: 100%;
   width:540px;
   padding: .5rem;
   border: none;
   outline: none;
}

body{
   background-color: #efefef;
}

.card-single .card-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #f0f0f0;
}

.card-single .card-header button {
   background: var(--main-color);
   border-radius: 10px;
   color: #fff;
   font-size: .8rem;
   margin-top:150px;
   padding: .5rem 1rem;
   border: 2px solid var(--main-color);
}


.button {
 background: var(--main-color);
 /*border: none;*/
 color: white;
 padding: 15px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 15px;
 margin: 4px 2px;
 margin-top:210px;
 border: 2px solid var(--main-color);
 cursor: pointer;

}

.cards {
      padding-top:100px;
}

