<div th:replace="NavBarDashboard"></div>
<br><br>
    <div class="main-content">
    <br><br>
        <main>
<div class="cards">

                <div class="card-single">
                    <div>
                        <h1 style="color:#1f8fc3;">Tableau des materiaux</h1>
                        <br><br>
                         <!-- <span>Pour acceder a la liste des materiaux, vous devez cliquer sur le boutton ci-dessous ! </span>
                            <br><br>-->
                         <span style="text-align:center;">nombre des materiaux :</span>
                       
                       
                         
                    </div>
                    
                   
                          <a>  <button class="button" style="width:222px;">Tableau des materiaux<span class="las la-arrow-right">
                            </span></button></a>
                     
                    
                    <div>
                        <span class="la la-television icon-10x"></span>
                    </div>
                    
                </div>

                <div class="card-single">
                    <div>
                       
                        <h1>Ajouter un materiel</h1>
                        <br><br>
                        <span>nombre des materiaux : </span> 
                    </div>
                    
                    <!-- <div class="card-header" > -->
                          <a>  <button class="button "style="background:white;color:#1f8fc3;width:215px">Ajouter un materiel <span class="las la-arrow-right">
                            </span></button></a>
                    <!-- </div> -->
                        
                    <div>
                        <span class="la la-television icon-10x"></span>
                    </div>
                </div>

             <!--   <div class="card-single">
                    <div>
                        <h1>2</h1>
                        <span>Nuevas consultas</span>
                    </div>
                    <div>
                        <span class="lab la-wpforms"></span>
                    </div>
                </div> -->
            </div>
            
             
        </main>

    </div>