<div class="ContenuCard" >
    <div class="modal-header">
      <h4 id="modal-title"><b>Créer une operation de remplissage :</b></h4>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <span style="color:red;margin-top:-105px;">(*) champ obligatoire</span><br><br>
          <form [formGroup]="myForm"  novalidate >
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label>Quantité de lait (Kg)  : <span style="color:red;">*</span></label>
                <input type="number"
                 formControlName="poidsLait"
                 class="form-control"
                 id="poidsLait"
                 name="poidsLait">

                <div *ngIf="poidsLait?.invalid && poidsLait?.touched" class="text-danger">
                  Quantité de lait invalide !
                </div>
                <div *ngIf="poidsLait?.valid && poidsLait?.touched && msgErreur==0"  class="text-success">
                  Quantité de lait valide!
                </div>
                <div *ngIf="msgErreur==1" class="text-danger">
                  Vous devez inserer une Quantité de lait comprise entre 0 et {{qteRsetLait}} !!<br> NB : La Quantité de lait disponible dans les tanks est {{qteRsetLait}}
                </div>

              </div>

       </div>



<br>
<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="cgu" required>
    <label class="form-check-label" for="cgu">J'accepte les conditions générales d'utilisation</label>
    <br>
    <span style="color:red;margin-bottom:45px;">{{msg}}</span>
    <div class="invalid-feedback">Vous devez accepter les CGU pour continuer</div>
  </div>
</div>
<button class="btn btn-primary" style="margin:11px" (click)=" onSubmit()"  type="submit">Envoyer</button>
<!-- close popup -->
<button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

</form>
</div>




