<div class="ContenuCard" >
    <div class="modal-header">
      <h4 id="modal-title"><b>{{'Create a fill operation' | translate}} :</b></h4>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <span style="color:red;margin-top:-105px;font-size:1.1em">(*){{'Required Field' | translate}}</span><br><br>
          <form [formGroup]="myForm"  novalidate >
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label>{{'Quantity of milk (Kg)' | translate}} : <span style="color:red;">*</span></label>
                <input type="number"
                 formControlName="poidsLait"
                 class="form-control"
                 id="poidsLait"
                 name="poidsLait">

                <div *ngIf="poidsLait?.invalid && poidsLait?.touched" class="text-danger">
                  {{'Invalid amount of milk' | translate}} !
                </div>
                <div *ngIf="poidsLait?.valid && poidsLait?.touched && msgErreur==0"  class="text-success">
                  {{'Valid amount of milk' | translate}}!
                </div>
                <div *ngIf="msgErreur==1" class="text-danger">
                  {{'p7' | translate}} {{qteRsetLait}} !!<br> {{'p6' | translate}} {{qteRsetLait}}
                </div>

              </div>

       </div>



<br>
<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="cgu"   formControlName="cgu" required>
    <label class="form-check-label" for="cgu" *ngIf="msg4==1" style="color:red;">{{'p2' | translate}}</label>
    <label class="form-check-label" for="cgu" *ngIf="msg4==0" >{{'p2' | translate}}</label>
    <br>
    <span style="color:red;margin-bottom:45px;font-size:1.1em">{{msg}}</span>
    <div class="invalid-feedback">{{'p3' | translate}}</div>
  </div>
</div>
<button class="btn btn-primary" style="margin:11px" (click)=" onSubmit()"  type="submit">{{'Send' | translate}}</button>
<!-- close popup -->
<button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate}}</button>

</form>
</div>




