<div class="ContenuCard" >
    <div class="modal-header">
      <h2 id="modal-title"><b>Modifier le tank numero :{{tank.idTank}}</b></h2>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><br>
    <form [formGroup]="myForm" class="needs-validation" novalidate>
      <div class="form-group">
        <label>Poid vide (minimum 30 kg) :</label>
        <input type="text"
               class="form-control"
               formControlName="poidVide"
               name="poidVide"
               [(ngModel)]="tank.poidVide"
               placeholder="Post Name here ..">
          <div
               *ngIf="poidVide?.invalid && poidVide?.touched"
                class="text-danger">
                Poids Vide invalide !
         </div>
         <div
              *ngIf="poidVide?.valid && poidVide?.touched"
              class="text-success">
              Poids Vide valide !
         </div>
      </div>
  
      <div class="lg mb-3">
        <label>Matricule :</label>
        <input class="form-control"
                  placeholder="Description Post here ...."
                  name="matricule"
                  formControlName="matricule"
                  [(ngModel)]="tank.matricule"
                  >
            <div
                  *ngIf="matricule?.invalid && matricule?.touched"
                   class="text-danger">
                   Poids Actuel invalide !
            </div>
            <div
                 *ngIf="matricule?.valid && matricule?.touched"
                 class="text-success">
                 Poids Actuel  valide !
            </div>
      </div>
  
  
      <div class="modal-footer">
        <button type="button" (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" (click)="updateTank()" [disabled]="myForm.invalid" class="btn btn-primary">Enregistrer </button>
      </div>
    </form>
  
  </div>
  