<div class="ContenuCard"  >
    <div class="modal-header">
        <h1 id="modal-title"><small>Details pour le fournisseur numero:{{idF}} </small></h1>
  <div>
    <button type="button" style="margin-left:230px ;size:450px;" (click)="closeDetails()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><br>
    
  </div>
  <br>
  <div *ngIf="fournisseur">
  
  <div class="form-group text-center">
    <label>Nom :</label> 
    <span id="interviewDate">  {{fournisseur.nom}} </span>
  </div>
  
  
  <div class="form-group text-center">
    <label>Matricule :</label> {{fournisseur.matricule}}
  </div>
  </div>			
  <div style="text-align: center;">
    <button (click)="closeDetails()" class="btn btn-success">Close Details</button>
  </div>
  </div>
  
  