<div class="ContenuCard" >
    <div class="modal-header">
      <h3 id="modal-title"><b>{{'Create a withdrawal transaction' | translate}} :</b></h3>
      <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <span style="color:red;margin-top:-105px;font-size:1.1em">(*){{'Required Field' | translate}}</span><br><br>
          <form [formGroup]="myForm"  novalidate >
            <div class="form-row">
              <div class="form-group col-md-12 mb-3">

                <label> {{'Quantity of milk (minimum 1Kg)' | translate}}: <span style="color:red;">*</span></label>
                <input type="number"
                 formControlName="poidsLait"
                 class="form-control"
                 id="poidsLait"
                 name="poidsLait">
    
                <div *ngIf="poidsLait?.invalid && poidsLait?.touched&& msgErreur==1" class="text-danger">
                   {{'Invalid weight' | translate}}!
                </div>
                <div *ngIf="poidsLait?.valid && poidsLait?.touched && msgErreur==0" class="text-success">
                  {{'Valid weight' | translate}}!
                </div>
                <div *ngIf="msgErreur==1" class="text-danger">
                 {{'p4' | translate}}: {{qteActLaitTank}} !
                  <br> {{'p5' | translate}} {{qteActLaitTank}} .
                </div>
    
              </div>
              <div class="col-md-12 mb-3">
                <label class="mr-sm-5" for="inlineFormCustomSelect"> {{'collector' | translate}}: <span style="color:red;">*</span></label>
                <select formControlName="collecteur" name="collecteur"  class="custom-select mr-sm-2" id="collecteur" >
                  <option disabled selected value [ngValue]="null">{{'Choose a' | translate}} {{'collector' | translate}}...</option>
                  <option *ngFor="let collecteur of collecteurs | async" [value]="collecteur.idCollecteur">{{collecteur.nomCollecteur}}</option>
                </select>
                <div
                *ngIf="collecteur?.invalid && collecteur?.touched"
                 class="text-danger">
                    {{invalid collector' | translate}}!
             </div>
                 <div
                  *ngIf="collecteur?.valid && collecteur?.touched && msgErreur==0" 
               class="text-success">
               {{'valid collector' | translate}}!
             </div>
              </div>
              &nbsp;&nbsp;  <h5 style="color:blue">  {{'Here is the delivery code' | translate}}:<strong><i> {{som}} </i> </strong> </h5><br><br>
  
            </div>
  
  
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="cgu"   formControlName="cgu" required>
                <label class="form-check-label" for="cgu" *ngIf="msg4==1" style="color:red;">{{'p2' | translate}}</label>
                <label class="form-check-label" for="cgu" *ngIf="msg4==0" >{{'p2' | translate}}</label>
                <br>
                <span style="color:red;margin-bottom:45px;font-size:1.1em" *ngIf="msg != ''">{{'Please fill in all required fields' | translate}}</span>
                <div class="invalid-feedback">{{'p3' | translate}}</div>
              </div>
            </div>
            <button class="btn btn-primary" style="margin:11px" (click)=" onSubmit()"  type="submit">{{'Send' | translate}}</button>
            <!-- close popup -->
            <button (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">{{'Close' | translate}}</button>
  
          </form>
        </div>
  
 
  
  
    