<div class="ContenuCard" >
  <div class="modal-header">
    <h1 id="modal-title"><b>Modifier le bon numero : {{bon.idBon}}</b></h1>
    <button type="button" (click)="onClose()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div><br>
  <form [formGroup]="myForm" class="needs-validation" novalidate>

    <div class="form-group">
      <div class="col-md-12 mb-3">
      <label>Quantite :</label>
      <input type="text"
             class="form-control"
             formControlName="quantite"
             name="quantite"
             [(ngModel)]="bon.quantite"
             placeholder="Post Name here ..">
        <div
             *ngIf="quantite?.invalid && quantite?.touched"
              class="text-danger">
              Quantite invalide !
       </div>
       <div
            *ngIf="quantite?.valid && quantite?.touched"
            class="text-success">
             Quantite valide !
       </div>
      </div>
   

    <div class="col-md-12 mb-3">
      <label for="pseudo"> type</label>
        <select type="text" class="form-select" id="type"   [(ngModel)]="bon.type"  name="type" formControlName="type" >
        <option value="Entree">Entree</option>
        <option value="Sortie">Sortie</option>
        </select>
      <div
        *ngIf="type?.invalid && type?.touched"
         class="text-danger">  
            invalide type!
     </div>
       <div
       *ngIf="type?.valid && type?.touched"
       class="text-success">
       Type valide!
     </div>
  </div>


  <div class="col-md-12 mb-3">
    <label class="mr-sm-5" for="inlineFormCustomSelect">Fournisseur</label>
    <select formControlName="fournisseur" name="fournisseur"  [(ngModel)]="bon.fournisseur.idFournisseur" class="custom-select mr-sm-2" id="fournisseur" >
      <option selected>Choisir un fournisseur...</option>
      <option *ngFor="let fournisseur of fournisseurs | async" [value]="fournisseur.idFournisseur">{{fournisseur.nom}}</option>
    </select>
  </div>
</div>

    <div class="form-group">
      <div class="col-md-12 mb-3">
      <label for="disabledTextInput">Prix :</label>
      <input type="text"
             class="form-control"
             name="prix"
             formControlName="prix"
             [(ngModel)]="bon.prix"
             placeholder="Post Name here ..">
        <div
             *ngIf="prix?.invalid && prix?.touched"
              class="text-danger">
               Prix invalide !
       </div>
       <div
            *ngIf="prix?.valid && prix?.touched"
            class="text-success">
              Prix valide !
       </div>
    </div>
  </div>

    <div class="modal-footer">
      <button type="button" (click)="onClose()" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
      <button type="submit" (click)="updateBon()" [disabled]="myForm.invalid" class="btn btn-primary">Enregistrer </button>
    </div>
  </form>

</div>
